<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.ruoyi.project.mbkj.usermonthtarget.mapper.StUsermonthtargetMapper">

    <resultMap type="StUsermonthtarget" id="StUsermonthtargetResult">
        <result property="id" column="id" />
        <result property="userid" column="userid" />
        <result property="target" column="target" />
        <result property="mytarget" column="mytarget" />
        <result property="createtime" column="createtime" />
        <result property="markes" column="markes" />
        <result property="storestid" column="storestid" />
    </resultMap>

    <sql id="selectStUsermonthtargetVo">
        select id, userid, target, mytarget, createtime, markes,
        storestid from
        st_usermonthtarget
    </sql>




    <select id="selectStUsermonthtargetList" parameterType="StUsermonthtarget"
            resultMap="StUsermonthtargetResult">
        <include refid="selectStUsermonthtargetVo" />

        <where>
            <if test="userid != null "> and userid = #{userid}</if>
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="mytarget != null  and mytarget != ''"> and mytarget = #{mytarget}</if>
            <if test="time != null  and time != ''"> and createtime &gt;= #{time}</if>
            <if test="timeT != null  and timeT != ''"> and DATE_FORMAT(createtime, '%Y-%m')= #{timeT}</if>
            <if test="createtime != null "> and createtime =  #{createtime}</if>
            <if test="markes != null  and markes != ''"> and markes = #{markes}</if>
            <if test="storestid != null "> and storestid = #{storestid}</if>
        </where>
    </select>

    <select id="select5target" parameterType="com.ruoyi.project.ro.SelectTargetParam"
            resultType="com.ruoyi.project.vo.TargetResult">

        select find0.storeid as 'id',find0.storename as
        'storeName',ifnull(find0.ordermytarget,0) as 'gongxian',
        ifnull(find1.xinxi,0) as 'luruxinxi',
        ifnull(find2.wanshan,0) as
        'wanshanxinxi',ifnull(find3.weihu,0) as
        'weihuxixni',ifnull(find4.genjin,0) as 'genjinkehu' from (
        select *
        from (
        SELECT *
        FROM( SELECT
        sum(su.mytarget*ss.score) AS ordermytarget,
        sst.`name` as
        'storename',
        sst.id as storeid
        FROM
        (SELECT * from
        st_usertarget
        <where>
            assettype=1
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d
            00:00:00')) and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))

        </where>
        ) su
        LEFT JOIN st_user_task ss ON su.storestid = ss.stid and
        ss.type='2'
        LEFT JOIN system_store sst on su.sotreid = sst.id
        <where>
            sst.id = #{storeid}
        </where>
        ) t

        ) t2
        ) as find0 LEFT JOIN ( select count(*) as 'xinxi',storeid from
        client_user

        <where>
            storeid = #{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d
            00:00:00')) and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))

        </where>
        ) as find1 ON find1.storeid = find0.storeid
        LEFT JOIN
        (select count(*)
        as 'wanshan',storeid from client_record
        <where>
            storeid = #{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d
            00:00:00')) and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
        </where>
        ) find2 ON find1.storeid = find2.storeid
        LEFT JOIN
        (select count(*) as
        'weihu',storeid from system_usernotes
        <where>
            storeid = #{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d
            00:00:00')) and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
            and plantype = '0' and usertype> '0'
        </where>
        ) find3 ON find1.storeid = find3.storeid
        LEFT JOIN
        (select count(*) as
        'genjin',storeid from system_usernotes
        <where>
            storeid = #{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d 00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
            and plantype =
            '1'
        </where>
        ) find4 ON find1.storeid = find4.storeid
    </select>




    <select id="selectOthertarget" parameterType="com.ruoyi.project.ro.SelectTargetParam"
            resultType="com.ruoyi.project.vo.OtherTargetResult">


        select a.id,a.name,ifnull(b.alltotal,0) as alltotal from st_standard a
        LEFT JOIN (


        select sum(a.alltotal) as
        alltotal,a.createtime,a.name,a.storestid,a.unit,a.sotreid from (

        SELECT sum(t.mytarget) as alltotal,t.createtime,
        t.
        name,t.storestid,t.unit,t.sotreid from (
        SELECT
        sug.*, st.`name`,
        st.unit
        FROM
        (SELECT * from st_usertarget

        <where>
            assettype=1
            and sotreid = #{storeid}
        </where>

        ) sug

        LEFT JOIN st_standard st ON sug.storestid = st.id
        LEFT JOIN
        system_store ss on sug.sotreid = ss.id

        ) t

        <where>
            t.storestid >'10'
            and t.createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d
            00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
        </where>

        GROUP by t.name

        ) a GROUP BY a.name ) b on a.id = b.storestid where
        a.status ='1'

    </select>


    <select id="selectUser5target" parameterType="com.ruoyi.project.ro.SelectTargetParam"
            resultType="com.ruoyi.project.vo.TargetResult">

        select user.id as 'id',user.username as 'storeName',
        ifnull(userinfo.gongxian,0) as 'gongxian',
        ifnull(userinfo.luruxinxi,0) as 'luruxinxi',
        ifnull(userinfo.wanshanxinxi,0)as 'wanshanxinxi',
        ifnull(userinfo.weihuxixni,0)as 'weihuxixni',
        ifnull(userinfo.genjinkehu,0) as 'genjinkehu'
        from sys_user_admin user left JOIN  (

        select find0.id as 'id',find0.username as
        'storeName',ifnull(find0.ordermytarget,0) as 'gongxian',
        ifnull(find1.xinxi,0) as 'luruxinxi',
        ifnull(find2.wanshan,0) as
        'wanshanxinxi',ifnull(find3.weihu,0) as
        'weihuxixni',ifnull(find4.genjin,0) as 'genjinkehu' from(
        select t2.id
        as id, t2.username as username,
        t2.storeid as storeid,
        sum(t2.mytarget*t2.score) AS ordermytarget from (

        SELECT
        sst.id,sst.username,sst.storeid,su.storestid,su.mytarget,ss.score
        FROM
        sys_user_admin sst LEFT JOIN
        (SELECT * from st_usertarget
        <where>


            assettype=1
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d 00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
            and  userid =#{storeid}
        </where>

        ) su

        ON
        sst.storeid=su.sotreid

        LEFT JOIN st_user_task ss ON su.storestid =
        ss.stid
        <where>
            ss.type='2' and sst.id =#{storeid}
        </where>


        ) as t2 GROUP BY t2.id

        ) as find0 LEFT JOIN ( select count(*) as
        'xinxi' from client_user
        <where>
            userid=#{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d 00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))

        </where>


        ) find1 on 1=1
        LEFT JOIN
        (select count(*) as 'wanshan' from client_record
        <where>
            userid=#{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d 00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))

        </where>
        ) find2 on 1=1
        LEFT JOIN
        (select count(*) as 'weihu' from system_usernotes
        <where>
            userid=#{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d 00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
            and plantype = '0'
            and usertype> '0'
        </where>




        ) find3 on 1=1
        LEFT JOIN
        (select count(*) as 'genjin' from system_usernotes


        <where>
            userid=#{storeid}
            and createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d 00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
            and plantype = '1'
        </where>

        ) find4 on 1=1
        ) userinfo on 1=1  where user.id= #{storeid}


    </select>


    <select id="selectUserOthertarget" parameterType="com.ruoyi.project.ro.SelectTargetParam"
            resultType="com.ruoyi.project.vo.OtherTargetResult">


        select a.id,a.name,ifnull(b.alltotal,0) as alltotal from st_standard a
        LEFT JOIN (


        select sum(a.alltotal) as
        alltotal,a.createtime,a.name,a.storestid,a.unit,a.userid from (

        SELECT
        sum(t.mytarget) as alltotal,t.createtime,
        t.
        name,t.storestid,t.unit,t.userid from (
        SELECT
        sug.*, st.`name`,
        st.unit
        FROM
        (SELECT * from st_usertarget

        <where>
            assettype=1
            and userid = #{storeid}
        </where>

        ) sug

        LEFT JOIN st_standard st ON sug.storestid = st.id
        LEFT JOIN
        system_store ss on sug.sotreid = ss.id

        ) t

        <where>
            t.storestid >'10'
            and t.createtime BETWEEN (select date_format(
            #{startTime},'%Y-%m-%d
            00:00:00'))
            and (select date_format(
            #{endTime},'%Y-%m-%d 23:59:59'))
        </where>

        GROUP by t.name

        ) a GROUP BY a.name ) b on a.id = b.storestid where
        a.status ='1'

    </select>





    <select id="selectStUsermonthtargetById" parameterType="Long"
            resultMap="StUsermonthtargetResult">
        <include refid="selectStUsermonthtargetVo" />
        where id = #{id}
    </select>

    <insert id="insertStUsermonthtarget" parameterType="StUsermonthtarget"
            useGeneratedKeys="true" keyProperty="id">
        insert into st_usermonthtarget
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">userid,</if>
            <if test="target != null">target,</if>
            <if test="mytarget != null">mytarget,</if>
            <if test="createtime != null">createtime,</if>
            <if test="markes != null">markes,</if>
            <if test="storestid != null">storestid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">#{userid},</if>
            <if test="target != null">#{target},</if>
            <if test="mytarget != null">#{mytarget},</if>
            <if test="createtime != null">#{createtime},</if>
            <if test="markes != null">#{markes},</if>
            <if test="storestid != null">#{storestid},</if>
        </trim>
    </insert>

    <update id="updateStUsermonthtarget" parameterType="StUsermonthtarget">
        update st_usermonthtarget
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid != null">userid = #{userid},</if>
            <if test="target != null">target = #{target},</if>
            <if test="mytarget != null">mytarget = #{mytarget},</if>
            <if test="createtime != null">createtime = #{createtime},</if>
            <if test="markes != null">markes = #{markes},</if>
            <if test="storestid != null">storestid = #{storestid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStUsermonthtargetById" parameterType="Long">
        delete
        from st_usermonthtarget where id = #{id}
    </delete>

    <delete id="deleteStUsermonthtargetByIds" parameterType="String">
        delete from st_usermonthtarget where id in
        <foreach item="id" collection="array" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </delete>

</mapper>