<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input id="clientid" name="clientid" th:value="${clientid}"  type="hidden">
                    <!--<input id="selectListDefault"  th:value="${selectListDefault}"  type="hidden">-->
                    <div class="select-list">
                        <ul>
                            <!--<li>-->
                                <!--<select id="standardid"      name="standardid" class="form-control m-b" >-->
                                    <!--&lt;!&ndash;<option value="">请选择</option>&ndash;&gt;-->
                                    <!--<option  th:each="wo:${selectList}"  readonly="readonly" th:value="${wo.id}" th:text="${wo.name}" ></option>-->
                                <!--</select>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<label>资产类型：</label>-->
                                <!--<select name="assettype">-->
                                    <!--<option value="">所有</option>-->
                                    <!--<option value="1">正资产</option>-->
                                    <!--<option value="2">负资产</option>-->
                                <!--</select>-->
                            <!--</li>-->
                            <li>
                                <!--<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
                                <!--<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
                                <a class="btn btn-info btn-rounded btn-sm" onclick="back()"><i class="fa fa-refresh"></i>&nbsp;返回</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mbkj:systemtransactionlog:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="mbkj:systemtransactionlog:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="mbkj:systemtransactionlog:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="mbkj:systemtransactionlog:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        function back() {
            window.location.href =ctx + "mbkj/clientuser"
        }

        var editFlag = [[${@permission.hasPermi('mbkj:systemtransactionlog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('mbkj:systemtransactionlog:remove')}]];
        var prefix = ctx + "mbkj/systemtransactionlog";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "交易记录",
                columns: [
//                        {
//                    checkbox: false
//                },
//                {
//                    field: 'id',
//                    title: '主键',
//                    visible: false
//                },
                {
                    field: 'name',
                    title: '指标',
                    sortable: true
                },
                {
                    field: 'mytarget',
                    title: '金额',
                    sortable: true,
                    formatter: function(value, row, index){
                        var str='';
                        if(row.assettype==1){
                            str+="+";
                        }else  {
                            str+="-";
                        }
                        return str+=row.mytarget;
                    }
                },

                {
                    field: 'unit',
                    title: '单位',
                    sortable: true
                },
                {
                    field: 'username',
                    title: '员工',
                    sortable: true
                },
                {
                    field: 'createtime',
                    title: '时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>