<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('小程序按钮权限列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>图标：</label>
                                <input type="text" name="icon"/>
                            </li>
                            <li>
                                <label>按钮名称：</label>
                                <input type="text" name="btnname"/>
                            </li>
                            <li class="select-time">
                                <label>购买时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginPaytime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endPaytime]"/>
                            </li>                
                            <li class="select-time">
                                <label>到期时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginEndtime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endEndtime]"/>
                            </li>                
                            <li>
                                <label>父节点：</label>
                                <input type="text" name="parentid"/>
                            </li>
                            <li>
                                <label>是否购买 0 是1否：</label>
                                <select name="ispay" th:with="type=${@dict.getType('sys_mystatus')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>是否显示0 是1否：</label>
                                <select name="isshow" th:with="type=${@dict.getType('sys_mystatus')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>是否开发完成0 是1否：</label>
                                <select name="iscreate" th:with="type=${@dict.getType('sys_mystatus')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>排序：</label>
                                <input type="text" name="sortid"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mbkj:systemwechatmenu:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="mbkj:systemwechatmenu:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-info" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-tree-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var addFlag = [[${@permission.hasPermi('mbkj:systemwechatmenu:add')}]];
        var editFlag = [[${@permission.hasPermi('mbkj:systemwechatmenu:edit')}]];
        var removeFlag = [[${@permission.hasPermi('mbkj:systemwechatmenu:remove')}]];
        var ispayDatas = [[${@dict.getType('sys_mystatus')}]];
        var isshowDatas = [[${@dict.getType('sys_mystatus')}]];
        var iscreateDatas = [[${@dict.getType('sys_mystatus')}]];
        var prefix = ctx + "mbkj/systemwechatmenu";

        $(function() {
            var options = {
                code: "id",
                parentCode: "parentid",
                expandColumn: "2",
                uniqueId: "id",
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "小程序按钮权限",
                columns: [{
                    field: 'selectItem',
                    radio: true
                },
                {
                    field: 'icon',
                    title: '图标',
                    align: 'left'
                },
                {
                    field: 'btnname',
                    title: '按钮名称',
                    align: 'left'
                },
                {
                    field: 'paytime',
                    title: '购买时间',
                    align: 'left'
                },
                {
                    field: 'endtime',
                    title: '到期时间',
                    align: 'left'
                },
                {
                    field: 'parentid',
                    title: '父节点',
                    align: 'left'
                },
                {
                    field: 'ispay',
                    title: '是否购买',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(ispayDatas, value);
                    }
                },
                {
                    field: 'isshow',
                    title: '是否显示',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(isshowDatas, value);
                    }
                },
                {
                    field: 'iscreate',
                    title: '是否开发完成',
                    align: 'left',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(iscreateDatas, value);
                    }
                },
                {
                    field: 'sortid',
                    title: '排序',
                    align: 'left'
                },
                {
                    field: 'pathurl',
                    title: '路由',
                    align: 'left'
                },
                {
                    title: '操作',
                    align: 'center',
                    align: 'left',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.id + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.treeTable.init(options);
        });
    </script>
</body>
</html>